html{	
	font-family:Helvetica;
	background-color:#003300;
	color:#1aff1a;
}

#get_favorites_btn{
	color:#1aff1a;
	background-color:black;
	border: 2px solid green;
	margin-left:20%;
	width: 60%;
}

.item_text_input{
	width:70%;
	padding:3px;
	margin-top:18px;
}
a{
	color:#80ff80;
}
h1{
	text-align:center;
}
h3{
	padding-right:10px;
}
h5{
	padding:10px;
	text-align:center;
	margin-bottom:0px;
	background-color:#1aff1a;
	color:black;
}
.button{
	padding:10px;
	margin:10px;
	float:left;
}

.favorites{
	color:yellow;
	padding:5px;
}

p{
	font-size:0.8em;
	padding-right:10px;
}
td{
	font-size:1.5em;
	border-bottom: 2px solid #1aff1a;
	background-color:black;

	padding-right:10px;
	padding-left:10px;
}
table{
	margin-left:20%;
	width: 60%;
}